
body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-font-smoothing: antialiased;
}

.main-header {
  background-color: #417690;
  color: #ffc;
  padding: 10px 20px;
}

.main-navigation {
  display: -webkit-flex;
  display: flex;
  > h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    -webkit-flex: 1;
    flex: 1;
    > a {
      color: #f4f379;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navigation-home {
  > ul {
    list-style-type: none;
    margin: 0;
  }
}

.main {
  position: relative;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-justify-content: center;
  justify-content: center;

  > form {
    -webkit-align-self: center;
    align-self: center;
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 20px 20px 30px 20px;
    margin-bottom: 60px;
  }
}

.main-sidebar {
  background-color: #efefef;
  padding: 20px 0;
}

.main-content {
  padding: 20px 30px;
  -webkit-flex: 1;
  flex: 1;

  > h2 {
    margin: 0;
  }
}

.admin-section {
  > h2 {
    font-size: 14px;
    margin: 0;
    > a {
      display: block;
      padding: 5px 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;

      &:hover {
        background-color: rgba(#000, 0.1);
      }
    }
  }
  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    > li {
      > a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #000;
        &:hover {
          background-color: rgba(#000, 0.2);
        }
      }
    }
  }
}

button, select, input[type="text"], input[type="password"], textarea {
  display: block;
  border-radius: 0;
  padding: 8px 10px;
  background: #fff none;
  border: 1px solid #ccc;
  font-size: 18px;

  &:focus {
    background-color: #fafafa;
    border-bottom-color: #000;
    outline: 0;
  }
}

input[type="text"], input[type="password"], textarea {
  box-shadow: inset 0 1px 2px rgba(#000, 0.1);
}

select {
  -webkit-appearance: textfield;
}

button {
  background-color: #efefef;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  &:focus {
    background-color: #ccc;
  }
}

.admin-object-list {
  width: 100%;
  border-collapse: collapse;

  > tbody {
    > tr {
      > td {
        padding: 16px;
      }
      &:nth-child(2n) {
        background-color: #EDF3FE;
      }
    }
  }
}

.form-controls {
  > p {
    > label {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 8px;
      font-weight: bold;
      color: #666;
    }
  }
}

a {
  color: #5b80b2;
  &:hover {
    color: #036;
  }
}
